<footer class="footer">

<h2 class="follow" id="Contact"> Follow me on...</h2>

  <a href="https://github.com/SirRiixz">
    <img class="icons" id="github" src="/assets/if_github2_216636.svg" alt="githubpicture"></a>

  <a href="https://www.instagram.com/sir_richard.inc/">
    <img class="icons" id="instagram" src="/assets/if_instagram_2136488.svg" alt="instagrampicture"></a>

  <a href="https://www.facebook.com/SirRichardJon">
    <img class="icons" id="facebook" src="/assets/if_facebook_2136487.svg" alt="facebookpicture"></a>

  <a href="https://www.linkedin.com/in/richard-jon-santos-252a5b138/">
    <img class="icons" id="linkedin" src="/assets/if_linkedin_2136489.svg" alt="linkedinpicture"></a>

  <a href="https://outlook.live.com/owa/r.santos92@live.com/">
    <img class="icons" id="email" src="/assets/if_icon-ios7-email-outline_211604.svg" alt="emailpicture"></a>

</footer>
