
<div class="container-fluid">
<img class="box" src="images/eat-sleep-code-repeat.jpg" id="opacity1">
<img class="box" src="images/code2.jpg">
</div>

<div class="container myContainer">
  <p class="about" id="About"> My name is Richard Jon Santos
    <br>I am Australian born Filipino guy living in Sydney Australia.
    I am 24 years old, and currently studying a Diploma of IT at the Academy of Information Technology (Coder Academy) to become a Software Developer / Full Stack Developer.
  </p>

  <h2 class="motto"> Eat > Sleep > Code > Repeat </h2>

<div class="container-fluid">
<img class="box" src="images/code3.jpg">
</div>




</div>


</div>
