
<div class="container myContainer">
  <p class="about"> My name is Richard Jon Santos
    <br>I am Australian born Filipino guy living in Sydney Australia.
    I am 24 years old, and currently studying at the University of Coder Academy to become a Software Developer / Full Stack Developer.
  </p>

  <h2 class="motto"> Eat > Sleep > Code > Repeat </h2>

  <img class="code" src="/assets/eat-sleep-code-repeat.jpg">

  


</div>


</div>
